<app-loading *ngIf="isLoading"></app-loading>

<div class="container-fluid p-3">
  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-between">
        <h3>Today's Task</h3>
        <button class="btn btn-success" (click)="open(content)">Add</button>
      </div>
      <hr />
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <b>
        Total ( {{ data.length }} ) | completed ( {{ doneTasksLength }} ) |
        Pending ( {{ pendingTasksLength }} )
      </b>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="grid-container">
        <div
          *ngFor="let d of data"
          class="grid-item"
          (click)="openMenu(menu, d)"
        >
          <div>
            <img class="task-img" *ngIf="d.image" [src]="d.image" />
            <p *ngIf="d.task">{{ d.task }}</p>
          </div>
          <div *ngIf="d.done" style="display: flex; align-self: self-end">
            <svg fill="green" width="24px" viewBox="0 0 24 24">
              <path
                d="M12 22C12.8 22 13.6 21.9 14.3 21.7C13.9 21.2 13.5 20.6 13.3 19.9C12.9 20 12.4 20 12 20C7.6 20 4 16.4 4 12C4 7.6 7.6 4 12 4C12.8 4 13.5 4.1 14.2 4.3L15.8 2.7C14.6 2.3 13.3 2 12 2C6.5 2 2 6.5 2 12C2 17.5 6.5 22 12 22M6.5 11.5L7.9 10.1L11 13.2L19.6 4.6L21 6L11 16L6.5 11.5M19 14L17.74 16.75L15 18L17.74 19.26L19 22L20.25 19.26L23 18L20.25 16.75L19 14Z"
              />
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- model -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      {{ isEdit ? "Edit Task" : "Add Today's Task" }}
    </h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="d('Cross click')"
      *ngIf="!saving"
    ></button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="task">Task Description</label>
      <textarea
        class="form-control mt-2 mb-3"
        id="task"
        rows="4"
        style="resize: none"
        name="task"
        [(ngModel)]="task"
      ></textarea>
    </div>
    <div class="form-group">
      <label for="image">Image Description</label>
      <input
        type="file"
        class="form-control mt-2 mb-3"
        id="image"
        accept="image/*"
        (change)="handleFile($event)"
        [disabled]="saving"
      />
      <div class="mt-2 mb-3" *ngIf="imageURL && imageURL !== ''">
        <img
          style="width: 100%; height: 120px; object-fit: contain"
          [src]="imageURL"
        />
        <b *ngIf="uploadingProgress" class="mt-2 mb-2">
          {{ uploadingProgress }}
        </b>
      </div>
    </div>
    <button
      (click)="handleSubmit()"
      type="button"
      class="btn btn-success"
      style="float: right"
      [disabled]="saving"
      *ngIf="!isEdit"
    >
      Save
    </button>
    <button
      (click)="handleEdit()"
      type="button"
      class="btn btn-success"
      style="float: right"
      [disabled]="saving"
      *ngIf="isEdit"
    >
      Save Edited
    </button>
    <button
      type="button"
      *ngIf="imageURL"
      class="btn btn-danger m-2 mt-0 mb-0"
      style="float: right"
      (click)="removeImage()"
      [disabled]="saving"
    >
      Remove Image
    </button>
  </div>
</ng-template>

<!-- ther modal -->
<ng-template #menu let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Menu</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="d('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <ul>
      <li>
        <span class="icon"><i class="fas fa-desktop"></i></span>
        <a (click)="editTask(content)">
          <span class="icon">
            <svg width="24px" class="icon" fill="black" viewBox="0 0 24 24">
              <path
                d="M19,3H18V1H16V3H8V1H6V3H5A2,2 0 0,0 3,5V19A2,2 0 0,0 5,21H10V19H5V8H19V9H21V5A2,2 0 0,0 19,3M21.7,13.35L20.7,14.35L18.65,12.35L19.65,11.35C19.85,11.14 20.19,11.13 20.42,11.35L21.7,12.63C21.89,12.83 21.89,13.15 21.7,13.35M12,18.94L18.07,12.88L20.12,14.88L14.06,21H12V18.94Z"
              />
            </svg>
          </span>
          <span class="item">Edit</span>
        </a>
      </li>
      <hr />
      <li>
        <span class="icon"><i class="fas fa-desktop"></i></span>
        <a (click)="markTask()">
          <span class="icon">
            <svg width="24px" class="icon" fill="black" viewBox="0 0 24 24">
              <path
                d="M19,19H5V5H15V3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V11H19M7.91,10.08L6.5,11.5L11,16L21,6L19.59,4.58L11,13.17L7.91,10.08Z"
              />
            </svg>
          </span>
          <span class="item"
            >Mark {{ selectedTask.done ? "Undone" : "Done" }}</span
          >
        </a>
      </li>
      <hr />
      <li>
        <span class="icon"><i class="fas fa-desktop"></i></span>
        <a (click)="deleteTask()">
          <span class="icon">
            <svg width="24px" class="icon" fill="red" viewBox="0 0 24 24">
              <path
                d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z"
              />
            </svg>
          </span>
          <span class="item text-danger">Delete</span>
        </a>
      </li>
    </ul>
  </div>
</ng-template>
