.table-image {
  height: 60px;
  object-fit: contain;
}
.cutoff-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.task-modal {
  display: flex;
  justify-content: space-between;
}
.task-modal-image {
  max-height: 75vh;
  object-fit: contain;
  background-color: #eee;
  border-radius: 5px;
}
.selected-task {
  word-wrap: break-word;
  white-space: pre-wrap;
}
.add-btn-div {
  display: flex;
  justify-content: end;
  margin-top: -40px;
}
@media screen and (max-width: 600px) {
  .task-modal {
    display: block;
  }
}
